$modularscale: (
  base: 12pt,
  ratio: 1.2,
);
/* body type faces */

body{
	font-family: 'Libre Baskerville';
	font-size: ms(0);
	line-height: 1.5em;
}
/* headers */

h1,h2,h3,h4,h5,h6{
	font-family: 'Avenir';
	font-weight: 100;
	letter-spacing: 2px;
	line-height: 1.2em;
}

h6{
	font-size: ms(1);
}
h5{
	font-size: ms(2);
}
h4{
	font-size: ms(3);
}
h3{
	font-size: ms(4);
}
h2{
	font-size: ms(5);
}
h1{
	font-size: ms(6);
}

/* type setting */

blockquote{
	color: $black;
	font-style: italic;
	font-size: ms(1);
	border: 0px;
}

p{
	margin-bottom: 2em;
}

/* links */

a{
	text-decoration: underline;
	color: $black;
	&:hover{
	color: $grey5;
	}
	&:focus{
	color: $grey5;
	}
}

